{% extends "base.html" %}

{% block title %}期货 AI 交易体系 V2 - 总览{% endblock %}

{% block active_page %}overview{% endblock %}

{% block header_title %}贵金属总览{% endblock %}
{% block header_subtitle %}黄金、白银实时行情与宏观分析{% endblock %}

{% block content %}
  {% include 'pages/overview.html' %}
  {% include 'pages/macro.html' %}
  {% include 'pages/attribution.html' %}
  {% include 'pages/events.html' %}
  {% include 'pages/config.html' %}
  {% include 'pages/commodities.html' %}
  {% include 'pages/simtrade.html' %}
  {% include 'pages/data_mgmt.html' %}
  {% include 'pages/realtime.html' %}
{% endblock %}

<script src="/static/js/app.js"></script>
